[submodule "avatar_svc"]
	path = avatar_svc
	url = https://github.com/pranav142/avatar_service.git
[submodule "payment_svc"]
	path = payment_svc
	url = https://github.com/pranav142/payment_svc.git
[submodule "streak_management_svc"]
	path = streak_management_svc
	url = https://github.com/pranav142/streak_management_service.git
[submodule "leaderboard_svc"]
	path = leaderboard_svc
	url = https://github.com/pranav142/leaderboard_svc.git
[submodule "challenge_generator_svc"]
	path = challenge_generator_svc
	url = https://github.com/Kasyap-R/challenge_generator_svc.git
[submodule "user_management_svc"]
	path = user_management_svc
	url = https://github.com/Kasyap-R/user_management_svc.git

[submodule "UserInterface"]
	path = UserInterface
	url = https://github.com/sammy1848/TIAA_UI.git
